.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-left: 5px;
    }
  }

  &--space-left {
    margin-left: 1rem;
  }
}
