<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        {{ recipe.name }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="recipe.photos?.[0]?.path | sfrRecipePhoto"
    [alt]="'Photo of ' + recipe.name"
  />
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-actions">
      <div class="card-actions__stat">
        <section class="card-actions__stat">
          <mat-icon aria-hidden="true">local_fire_department</mat-icon>
          <p>
            <span class="cdk-visually-hidden">Difficulty out of 5: </span
            >{{ recipe.difficulty }}
          </p>
        </section>
        <section class="card-actions__stat card-actions--space-left">
          <mat-icon aria-hidden="true">schedule</mat-icon>
          <p>
            <span class="cdk-visually-hidden">Cook time in minutes: </span
            >{{ recipe.cookTime }}
          </p>
        </section>
      </div>
      <a
        mat-flat-button
        sfrRoundedButton
        color="accent"
        [routerLink]="recipe.name | sfrUrlReplaceSpace"
      >
        View
        <span class="cdk-visually-hidden">{{ recipe.name }}</span>
        <mat-icon aria-hidden="true">chevron_right</mat-icon>
      </a>
    </div>
  </mat-card-actions>
</mat-card>
