<mat-card fxFlex="1 1 auto" fxLayout="column">
  <mat-card-header>
    <mat-card-title>
      <h2
        [matTooltip]="recipe.name"
        matTooltipPosition="above"
        matTooltipShowDelay="500"
      >
        {{ recipe.name }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <figure class="img-container">
    <img
      [src]="recipe.photos?.[0]?.path | sfrRecipePhoto"
      [alt]="'Photo of ' + recipe.name"
    />
  </figure>
  <mat-card-content fxFlex="1 0 auto">
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="stretch center">
      <section fxLayout="row" fxLayoutAlign="center center">
        <mat-icon aria-hidden="true">local_fire_department</mat-icon>
        <p fxLayout="column" fxLayoutAlign="center center">
          <span class="cdk-visually-hidden">Difficulty out of 5: </span
          >{{ recipe.difficulty }}
        </p>
      </section>
      <section fxLayout="row" fxLayoutAlign="center center" class="space-left">
        <mat-icon aria-hidden="true">schedule</mat-icon>
        <p fxLayout="column" fxLayoutAlign="center center">
          <span class="cdk-visually-hidden">Cook time in minutes: </span
          >{{ recipe.cookTime }}
        </p>
      </section>
    </div>
    <a
      mat-flat-button
      sfrRoundedButton
      color="accent"
      [routerLink]="recipe.name | sfrUrlReplaceSpace"
    >
      View
      <span class="cdk-visually-hidden">{{ recipe.name }}</span>
      <mat-icon aria-hidden="true">chevron_right</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
