@import "/src/assets/css/helpers/variables.scss";

:host {
  position: relative;
}

button.left {
  position: absolute;
  left: 4px;
  top: 45%;
}

button.right {
  position: absolute;
  right: 4px;
  top: 45%;
}

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;

  & button {
    margin-left: 8px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: $gray-light;
    cursor: pointer;

    &.active {
      background: $primary;
    }
  }
}

.container {
  overflow-y: auto;
}

figure {
  display: block;
  position: relative;
  padding-top: 75%;
  border-radius: $border-radius;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: $border-radius;
  object-fit: cover;
}
