<sfr-container [isSmall]="true">
  <sfr-page-title> Edit Password </sfr-page-title>

  <form [formGroup]="form" fxLayout="column wrap" (submit)="submit()">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Password"
        formControlName="password"
        [errorStateMatcher]="errorMatcher"
        required
        fxFlex="1 1 auto"
      />
      <mat-hint>
        Must contain a letter, a number, a special character, and be at least 12
        characters long
      </mat-hint>
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          (password.invalid || form.getError('passwordMatch')) &&
          (password.dirty || password.touched)
        "
      >
        <p *ngIf="password.errors?.required">
          This field is required<span class="cdk-visually-hidden"
            >Password</span
          >
        </p>
        <p *ngIf="password.errors?.pattern">
          Password must contain a letter, a number, a special character, and be
          at least 12 characters long
        </p>
        <p *ngIf="form.getError('passwordMatch')">Passwords must match</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password Confirmation</mat-label>
      <input
        matInput
        [type]="hidePasswordConfirmation ? 'password' : 'text'"
        placeholder="Password Confirmation"
        formControlName="passwordConfirmation"
        [errorStateMatcher]="errorMatcher"
        required
        fxFlex="1 1 auto"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordConfirmationVisibility()"
        [attr.aria-label]="
          hidePasswordConfirmation
            ? 'Show password confirmation'
            : 'Hide password confirmation'
        "
        [attr.aria-pressed]="hidePasswordConfirmation"
      >
        <mat-icon>{{
          hidePasswordConfirmation ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          (passwordConfirmation.invalid || form.getError('passwordMatch')) &&
          (passwordConfirmation.dirty || passwordConfirmation.touched)
        "
      >
        <p *ngIf="passwordConfirmation.errors?.required">
          This field is required<span class="cdk-visually-hidden"
            >Password Confirmation</span
          >
        </p>
        <p *ngIf="form.getError('passwordMatch')">Passwords must match</p>
      </mat-error>
    </mat-form-field>

    <sfr-announcement *ngIf="errorMessage">
      {{ errorMessage }}
    </sfr-announcement>

    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-flat-button sfrRoundedButton color="accent" type="submit">
        Update
      </button>
    </div>
  </form>
</sfr-container>
