<sfr-container>
  <ng-container *ngIf="recipe$ | async as recipe">
    <sfr-page-title>{{ recipe.name }}</sfr-page-title>

    <div
      gdColumns="repeat(2, 1fr)"
      gdGap="4rem"
      gdColumns.lt-sm="repeat(1, 1fr)"
    >
      <figure class="img-container">
        <img
          [src]="recipe.photos[0]?.path | sfrRecipePhoto"
          [alt]="'Photo of ' + recipe.name"
          class="img"
        />
      </figure>

      <section class="meta-container" fxLayout="column" fxLayoutAlign="center">
        <p>{{ recipe.description }}</p>

        <div
          class="stats-container"
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
        >
          <section>
            <mat-icon aria-hidden="true" class="sfr-icon sfr-icon--large"
              >local_fire_department</mat-icon
            >
            <p>Difficulty: {{ recipe.difficulty }}</p>
          </section>
          <section>
            <mat-icon aria-hidden="true" class="sfr-icon sfr-icon--large"
              >schedule</mat-icon
            >
            <p>Cook Time: {{ recipe.cookTime }} min.</p>
          </section>
        </div>
      </section>
    </div>

    <section class="list">
      <h2 class="mat-title list--center">Ingredients</h2>

      <mat-selection-list aria-label="Ingredients">
        <mat-list-option
          *ngFor="let ingredient of recipe.ingredients"
          checkboxPosition="before"
          color="primary"
        >
          {{ ingredient }}
        </mat-list-option>
      </mat-selection-list>
    </section>

    <section class="list">
      <h2 class="mat-title list--center">Instructions</h2>

      <mat-selection-list aria-label="Instructions">
        <mat-list-option
          *ngFor="let instruction of recipe.instructions"
          checkboxPosition="before"
          color="primary"
        >
          {{ instruction }}
        </mat-list-option>
      </mat-selection-list>
    </section>
  </ng-container>

  <sfr-loader *ngIf="loading && !error"></sfr-loader>

  <div *ngIf="error" class="announcement" fxLayout="row" fxLayoutAlign="center">
    <h1 class="cdk-visually-hidden">Error</h1>
    <sfr-announcement> No recipe found </sfr-announcement>
  </div>
</sfr-container>
