<sfr-container [isSmall]="true">
  <sfr-page-title> Login </sfr-page-title>

  <form [formGroup]="form" fxLayout="column wrap" (submit)="submit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        required
        fxFlex="1 1 auto"
      />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <p *ngIf="email.errors?.required">
          This field is required<span class="cdk-visually-hidden">Email</span>
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Password"
        formControlName="password"
        required
        fxFlex="1 1 auto"
      />
      <button
        sfr-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <p *ngIf="password.errors?.required">
          This field is required<span class="cdk-visually-hidden"
            >Password</span
          >
        </p>
      </mat-error>
    </mat-form-field>

    <sfr-announcement *ngIf="errorMessage">
      {{ errorMessage }}
    </sfr-announcement>

    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end">
      <button sfr-flat-button color="accent" type="submit">Login</button>
    </div>
  </form>
</sfr-container>
