@import "/src/assets/css/helpers/variables.scss";

:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

main {
  padding-top: 64px;
}

footer {
  background: $gray-light;
  color: $gray-light-contrast;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: $screen-small) {
  main {
    padding-top: 54px;
  }
}
