@use "src/assets/themes/main.scss" as sfrTheme;
@use "sass:map";
@import "/src/assets/css/helpers/variables.scss";

:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

main {
  flex: 1;
  padding-top: 64px;
}

footer {
  background: map.get(sfrTheme.$grey-palette, 200);
  color: map.get(sfrTheme.$grey-palette, contrast, 200);
}

@media only screen and (max-width: $screen-small) {
  main {
    padding-top: 54px;
  }
}
