<nav aria-label="Footer">
  <ul>
    <li>
      <a routerLink="/recipes">Recipes</a>
    </li>

    <ng-container *ngIf="isAuthenticated$ | async; else isUnauthenticated">
      <li>
        <a routerLink="/create-recipe">Create recipe</a>
      </li>
      <li>
        <a routerLink="/profile">Profile</a>
      </li>
    </ng-container>

    <ng-template #isUnauthenticated>
      <li>
        <a routerLink="/signup">Sign up</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ng-template>
  </ul>
</nav>
