@import "/src/assets/css/helpers/variables.scss";

:host {
  width: 100%;
  max-width: $max-width-component;
}

section {
  border-radius: $border-radius;
  background: $red-dark;
  color: $red-dark-contrast;
  padding: 1rem;
  max-width: $max-width-component;
}
