@use "src/assets/themes" as sfrTheme;
@use "sass:map";

$screen-small: 599px;
$screen-large: 1279px;

$max-width-component: 500px;

$border-radius: 15px;

$primary: map.get(sfrTheme.$primary-green, 200);
$primary-contrast: map.get(sfrTheme.$primary-green, contrast, 200);
$primary-dark: map.get(sfrTheme.$primary-green, 800);
$primary-dark-contrast: map.get(sfrTheme.$primary-green, contrast, 800);
$gray-light: map.get(sfrTheme.$grey-palette, 200);
$gray-light-contrast: map.get(sfrTheme.$grey-palette, contrast, 200);
$red: map.get(sfrTheme.$warn-red, 700);
$red-contrast: map.get(sfrTheme.$warn-red, contrast, 700);
