<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <a routerLink="/welcome" fxLayout="row">
    <img src="../../../../assets/images/header/sfr-logo.svg" alt="Site logo" />
  </a>

  <!-- Mobile navigation -->
  <nav fxHide.gt-xs="true">
    <button
      mat-flat-button
      color="primary"
      [matMenuTriggerFor]="menu"
      aria-label="Open menu"
      sfrRoundedButton
    >
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/recipes" mat-menu-item
        >Recipes
        <mat-icon>chevron_right</mat-icon>
      </a>
      <ng-container *ngIf="(isAuthenticated$ | async) === false">
        <a routerLink="/signup" mat-menu-item
          >Sign up
          <mat-icon>chevron_right</mat-icon>
        </a>
        <a routerLink="/login" mat-menu-item
          >Login
          <mat-icon>chevron_right</mat-icon>
        </a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated$ | async">
        <a routerLink="/create-recipe" mat-menu-item
          >Create recipe
          <mat-icon>chevron_right</mat-icon>
        </a>
        <a routerLink="/profile" mat-menu-item
          >Profile
          <mat-icon>chevron_right</mat-icon>
        </a>
        <button mat-menu-item (click)="logout()">Logout</button>
      </ng-container>
    </mat-menu>
  </nav>

  <!-- Desktop navigation -->
  <nav fxHide.lt-sm="true" fxLayoutGap="0.5rem">
    <a routerLink="/recipes" mat-flat-button color="primary" sfrRoundedButton>
      Recipes
      <mat-icon>chevron_right</mat-icon>
    </a>
    <ng-container *ngIf="(isAuthenticated$ | async) === false">
      <a routerLink="/signup" mat-flat-button color="primary" sfrRoundedButton>
        Sign up
        <mat-icon>chevron_right</mat-icon>
      </a>
      <a routerLink="/login" mat-flat-button color="primary" sfrRoundedButton>
        Login
        <mat-icon>chevron_right</mat-icon>
      </a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated$ | async">
      <a
        routerLink="/create-recipe"
        mat-flat-button
        color="primary"
        sfrRoundedButton
      >
        Create recipe
        <mat-icon>chevron_right</mat-icon>
      </a>
      <a routerLink="/profile" mat-flat-button color="primary" sfrRoundedButton>
        Profile
        <mat-icon>chevron_right</mat-icon>
      </a>
      <button
        mat-flat-button
        color="primary"
        sfrRoundedButton
        (click)="logout()"
      >
        Logout
      </button>
    </ng-container>
  </nav>
</mat-toolbar>
