@use "~@angular/material" as mat;
@import "/src/assets/themes";

@include mat.button-color($sfr-darker-theme);

.logo-link {
  display: flex;

  & img {
    width: 112px;
  }
}

mat-toolbar {
  justify-content: space-between;
}
