<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <a routerLink="/welcome" fxLayout="row">
    <img src="../../../../assets/images/header/sfr-logo.svg" alt="Site logo" />
  </a>
  <nav>
    <a routerLink="/recipes" mat-flat-button color="primary" sfrRoundedButton>
      Recipes
    </a>
    <ng-container *ngIf="(isAuthenticated$ | async) === false">
      <a routerLink="/signup" mat-flat-button color="primary" sfrRoundedButton>
        Sign up
      </a>
      <a routerLink="/login" mat-flat-button color="primary" sfrRoundedButton>
        Login
      </a>
    </ng-container>
    <button
      mat-flat-button
      color="primary"
      sfrRoundedButton
      *ngIf="isAuthenticated$ | async"
      (click)="logout()"
    >
      Logout
    </button>
  </nav>
</mat-toolbar>
