<ng-container *ngIf="(recipesAndCount || {}).recipes?.length; else noRecipes">
  <ul
    gdColumns="repeat(3, 1fr)"
    gdGap="2rem"
    gdColumns.lt-md="repeat(2, 1fr)"
    gdColumns.lt-sm="repeat(1, 1fr)"
  >
    <li
      *ngFor="let recipe of (recipesAndCount || {}).recipes"
      fxLayout="column"
    >
      <sfr-recipe-card [recipe]="recipe"></sfr-recipe-card>
    </li>
  </ul>
  <mat-paginator
    [length]="(recipesAndCount || {}).totalCount || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="emitPageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</ng-container>

<ng-template #noRecipes>
  <div fxLayout="row" fxLayoutAlign="center">
    <sfr-announcement> No recipes to show </sfr-announcement>
  </div>
</ng-template>
