@import "/src/assets/css/helpers/variables.scss";

mat-paginator {
  margin-top: 2rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: $screen-medium) {
  .recipe-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: $screen-small) {
  .recipe-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
