@use "abstracts" as *;

.page-title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: $primary-dark;
}

@media only screen and (max-width: $screen-small) {
  .page-title {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
